<h1 style="text-align: center">Product Details</h1>
<div style="align-items: center; padding-left: 25%">
  <app-productcount
    [all]="getAllProductsCount()"
    [laptop]="getLaptopCount()"
    [mobile]="getMobileCount()"
    [ac]="getAcCount()"
    [tv]="getTvCount()"
    (countRadioButtonSelectionChanged)="onRadioChange($event)"
  ></app-productcount>
  <table style="align-self: center; align-items: center; text-align: center">
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Expiry Date</th>
        <th>Manufacturer</th>
        <th>Index</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="
          let product of products;
          trackBy: trackByProductIndex;
          let i = index
        "
        ><tr *ngIf="this.radioButtonValue==product.productName || this.radioButtonValue == 'All' ">
          <td>{{ product.productId }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.expDate }}</td>
          <td>{{ product.manufacturer }}</td>
          <td>{{ i }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <button (click)="refreshProducts()">Refresh</button>
</div>
