<div style="margin: 10px">
  <span class="radioClass"> Show : </span>

  <input
    type="radio"
    name="options"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonChange()"
    value="All"
  /><span class="radioClass"> {{ "All (" + all + ")" }}</span>

  <input
    type="radio"
    name="options"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonChange()"
    value="Mobile"
  /><span class="radioClass"> {{ "Mobile (" + mobile + ")" }}</span>

  <input
    type="radio"
    name="options"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonChange()"
    value="TV"
  /><span class="radioClass"> {{ "TV (" + tv + ")" }}</span>

  <input
    type="radio"
    name="options"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonChange()"
    value="Laptop"
  /><span class="radioClass"> {{ "Laptop (" + laptop + ")" }}</span>

  <input
    type="radio"
    name="options"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonChange()"
    value="AC"
  /><span class="radioClass"> {{ "AC (" + ac + ")" }}</span>

  <br />
</div>
